{% extends "base.html" %}
 {% load static %}

    {% block title %}
    <title>Hot</title>
     {% endblock title %}


{% block left_part %}
    <div class="row" style="padding-left: 15px;">
        <h2 id="new_question" class="my_header">
              <a href="{% url 'hot' %}">Hot Questions</a>
      </div>

      {% include "one_question_form.html" %}
      {% include "one_question_form.html" %}
      {% include "one_question_form.html" %}

      {% block pages_list %}
        <ul class="pagination center-block">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
      {% endblock pages_list %}
     {% endblock left_part %}
