<!DOCTYPE html>
 {% load static %}
<html lang="en">

<head>

    {% block header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% block title %}
    <title>Main</title>
    {% endblock title %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% endblock header %}

</head>

<body>

    {% block navbar %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <a class="navbar-brand" href="{% url 'main' %}">
                <img src="{% static "5.png" %}" width="60" height="60" class="d-inline-block align-top" alt="Go to main" style="margin-top: -10px">
            </a>

            <span class="navbar-text"><a href="{% url 'ask' %}" class="h4">Ask website</a></span>

            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-left search-form" role="form">
                    <div class="form-group">
                        <input type="text" id="search" placeholder="Search..." class="form-control input-sm">
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">Search</button>
                </form>

                {% block client %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'login' %}">LogIn</a></li>
                    <li><a href="#">LogOut</a></li>
                </ul>
                {% endblock client %}

            </div>
        </div>
    </div>
    {% endblock navbar %} {% block main_part %}
    <div class="row" style="padding-top: 50px;">

        {% block left_part %}
        <div class="col-lg-8">

            {% block used_right_part %}
            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-7">
                    <div class="row" style="padding-left: 15px;">
                        <h2 id="new_question" class="my_header"> New Questions:
                              <a href="{% url 'hot' hot_id=1 %}">Hot Questions</a>
                      </div>

                      <div class="panel panel-default">
                          <div class="row">
                              <div class="col-lg-3" style="padding-top: 10px;">

                                  <img class="centerAvatar" src="{% static "pig.png" %}" class="img-responsive center-block"
                                       alt="img" width="100" height="140">
                              </div>
                              <div class="col-lg-8">
                                  <div class="row">
                                      <div class="col-lg-12 center-block">
                                          <h3><a href="{% url 'question' question_id=1 %}" class="my_header">What i need to do, if i am a pig.</a></h3>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-lg-12 center-block">
                                          <h4><p class="my_text">Hi i am an only pig on this island, what i need to do, to become friends with birds?</p></h4>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-lg-3">
                                  <button type="button" class="btn btn-default btn-xs"><span
                                          class="glyphicon glyphicon-minus"></span></button>
                                  <b>5</b>
                                  <button type="button" class="btn btn-default btn-xs"><span
                                          class="glyphicon glyphicon-plus"></span></button>
                              </div>
                              <div class="col-lg-8">
                                  <a href="{% url 'question' question_id=1 %}" class="answers">Answers(14)</a>
                                  Tags:
                                  <a href="{% url 'tag' tag_id=1 %}" class="tag">#PIG</a>
                                  <a href="{% url 'tag' tag_id=1 %}" class="tag">#Island</a>
                              </div>
                          </div>
                      </div>

                      <div class="panel panel-default">
                          <div class="row">
                              <div class="col-lg-3" style="padding-top: 10px;">
                                  <img class="centerAvatar" src="{% static "pig.png" %}" class="img-responsive center-block"
                                       alt="img" width="100" height="140">
                              </div>

                              <div class="col-lg-8">
                                  <div class="row">
                                      <div class="col-lg-12 center-block">
                                          <h3><a href="{% url 'question' question_id=1 %}" class="my_header">How to boil water?</a></h3>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-lg-12 center-block">
                                          <h4><p class="my_text">Oh, i am a child and i dont know ho do it, birds help me!</p></h4>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-lg-3">
                                  <button type="button" class="btn btn-default btn-xs"><span
                                          class="glyphicon glyphicon-minus"></span></button>
                                  <b>22</b>
                                  <button type="button" class="btn btn-default btn-xs"><span
                                          class="glyphicon glyphicon-plus"></span></button>
                              </div>
                              <div class="col-lg-8">
                                  <a href="{% url 'question' question_id=1 %}" class="answers">Answers(18)</a>
                                  Tags:
                                  <a href="{% url 'tag' tag_id=1 %}" class="tag">#PIG</a>
                                  <a href="{% url 'tag' tag_id=1 %}" class="tag">#Water</a>
                                  <a href="{% url 'tag' tag_id=1 %}" class="tag">#Boil</a>
                              </div>
                          </div>
                      </div>

                      <div class="panel panel-default">
                          <div class="row">
                              <div class="col-lg-3" style="padding-top: 10px;">
                                  <img class="centerAvatar" src="{% static "1.jpeg" %}" class="img-responsive center-block"
                                       alt="img" width="100" height="80">
                              </div>

                              <div class="col-lg-8">
                                  <div class="row">
                                      <div class="col-lg-12 center-block">
                                          <h3><a href="{% url 'question' question_id=1 %}" class="my_header">FLying.</a></h3>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-lg-12 center-block">
                                          <h4><p class="my_text">How to speed up your flying?</p></h4>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-lg-3">
                                  <button type="button" class="btn btn-default btn-xs"><span
                                          class="glyphicon glyphicon-minus"></span></button>
                                  <b>100</b>
                                  <button type="button" class="btn btn-default btn-xs"><span
                                          class="glyphicon glyphicon-plus"></span></button>
                              </div>
                              <div class="col-lg-8">
                                  <a href="{% url 'question' question_id=1 %}" class="answers">Answers(7)</a>
                                  Tags:
                                  <a href="{% url 'tag' tag_id=1 %}" class="tag">#Birds</a>
                                  <a href="{% url 'tag' tag_id=1 %}" class="tag">#Fly</a>
                              </div>
                          </div>
                      </div>

                      {% block pages_list %}
                        <ul class="pagination center-block">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                      {% endblock pages_list %}

                  </div>
              </div>
            {% endblock used_right_part %}
        </div>`
      {% endblock left_part %}

      {% block right_part %}
        <div class="col-lg-4">
            <div class="row" style="padding-top: 30px; padding-left: 40px;">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 id="popular_tags" class="my_header">Popular Tags</h2>
                        <ul class="list-inline">
                            <li class="text-success" class="medium_text">PIG</li>
                            <li class="text-muted" class="small_text">Birds</li>
                            <li class="text-success" class="big_text">Island</li>
                        </ul>
                        <ul class="list-inline">
                            <li class="text-primary" class="small_text">Friends</li>
                            <li class="text-info" class="big_text">Help</li>
                            <li class="text-warning" class="medium_text">A lot of birds and one pig</li>
                        </ul>
                        <ul class="list-inline">
                            <li class="text-primary" class="big_text">C++</li>
                            <li class="text-warning" class="medium_text">Python</li>
                            <li class="text-primary" class="small_text">Django</li>
                        </ul>
                    </div>
                    <div class="col-lg-12">
                        <h2 id="beast_members" class="my_header">Best Members</h2>
                        <div>
                            <ul class="list-best_members">
                                <li><a class="text-success" href="{% url 'tag' tag_id=1 %}" class="bm">PIG</a></li>
                                <li><a class="text-warning" href="{% url 'tag' tag_id=1 %}" class="bm">Chuck</a></li>
                                <li><a class="text-danger" href="{% url 'tag' tag_id=1 %}" class="bm">Red</a></li>
                                <li><a class="text-primary" href="{% url 'tag' tag_id=1 %}" class="bm">Bomb</a></li>
                                <li><a class="text-info" href="{% url 'tag' tag_id=1 %}" class="bm">Unknown bird</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
    {% endblock right_part %}
    </div>
    {% endblock main_part %}

</body>

</html>
